/* Main */
.main {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;    
}

/* Navigation */
.navbar {
    background-color: #00d1b2;
}

.navbar .navbar-brand a {
    color: white;
    font-size: 20px;
}
/* Storage Component */
.storage-container {
    margin-top: 20px;
}

.input-field {
    display: inline-block;
    margin-right: 40px;
}

button.delete {
    margin-left: 20px;
    margin-right: 0;
    float: right;
}

/* Member Component */
.storage-container progress.progress {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.panel-block > .member-name {
    margin-right: auto;
}

/* Task Component */
.task-component {
    width: 100%;    
}

.panel-block > .task-name {
    margin-right: auto;
}

/* Planner Component */
.calendar-container {
    margin-top: 0;
    width: 100%;
}

.calendar-boxes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 1;
    position: relative;
}

.calendar-overlay {
    z-index: 2;  
    position: absolute;
    top: 0;
}

ul.calendar-header {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.calendar-header > .member-title {
    width: 15%;
    text-align: center;
}

.calendar-header > .day-title {
    width: auto;
    flex: 1;
    text-align: center;        
}

.box.day {
    width: auto;
    height: inherit;
    flex: 1;
    text-align: center;
    overflow: hidden;
}

.box.member-list {
    width: 15%;
    text-align: center;
}

.box.calendar-header {
    margin-top: 20px;
    margin-bottom: 0;
}

div.member {
    border-top: 1px solid #00d1b2;
    margin-top: 10px;
    padding-top: 10px;
}

div.member:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.calendar-boxes > .box:not(:last-child) {
    margin-bottom: 0;
}
