header {}

main {}

aside {}

.navbar {
    background-color: #00d1b2;
    border-radius: 5px;
}

.navbar .navbar-brand a {
    color: white;
    font-size: 20px;
}

.member-container {
    padding-top: 20px;
}

.task-container {
    padding-top: 20px;
}

.input-field {
    display: inline-block;
    padding-right: 40px;
}